
{% extends 'layoutAdmin.html.twig' %}

{% block body %}

         <div class=" page-content">
                  <div class="card h-lg-100 overflow-hidden">
                                            <div class="card-body p-0">
                                                <div class="table-responsive scrollbar">
                                                    <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                                                        <thead class="bg-300">
                                                        <tr class="text-900">
                                                            <th class="tecos-h text-dark">Notifications ({{applications|length}})</th>
                                                         
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for application in applications %}
                                                     <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                                                    
                                    <thead class="bg-light">
                                    </thead>
                                    <tbody>
                                       <tr class="border-bottom border-400">
                                          <td>
                                             <div class="d-flex align-items-center position-relative">
                                               {% if application.job.title !=609679 %}
                                                <div class="posted-info clearfix  ">
                                                   <div class="m-tb0  float-start "><span  class=" text-dark  ">Nouvelle candidature pour: </span>{{application.job.title}} <span  class=" text-dark  ">par</span><a
                                                   class="" href="{{path('candidatProfile',{'fname':application.candidate.fname,'lname':application.candidate.lname,'id':application.candidate.id})}}" > {{application.candidate.fullname}} </a></div>
                                                </div>
                                                {% else %}
                                              <div class="posted-info clearfix  ">
                                                   <div class="m-tb0  float-start "><span  class=" text-dark  ">Nouvelle candidature spontanée </span> <span  class=" text-dark  ">par</span><a
                                                   class="" href="{{path('candidatProfile',{'fname':application.candidate.fname,'lname':application.candidate.lname,'id':application.candidate.id})}}" > {{application.candidate.fullname}} </a></div>
                                                </div>

                                                {% endif %}

                                             </div>
                                             <div class="m-tb0 float-start text-secondary  ">{{application.appdate|date("m/d/Y g:ia")}}</div>
                                          </td>
                                       </tr>

                                    </tbody>

                                 </table>
                                 {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
         </div>



{% endblock %}